body {
    background-color: lightgoldenrodyellow;

}

h1 {
    font-size: 30px;
    text-align: center;

}

.menu {
    text-align: center;
}

a {
    font-size: 18px;
    margin: 0 auto;
    background-color: lightblue;
    padding: 10px;
    color: black;


}
